body {
  margin: 0;
  /* overflow: hidden; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

footer {
  height: 72px;
  margin-top: auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 16px;
}

.top h2,
p,
a {
  color: white;
}

header ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px;
}

.top {
  background-color: #1f2937;
  height: 450px;
}

.img {
  width: 400px;
  padding: 15px;
  margin-left: 10px;
  height: 180px;
  background-color: rgb(106, 106, 108);
  display: flex;
  align-items: center;
  justify-content: center;
}

.awesome-img {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.top h1 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #f9faf8;
  margin-bottom: -10px;
}

.awesome {
  max-width: 450px;
  margin-left: 5%;
}

.subtext {
  font-size: 18px;
  color: #e5e7eb;
}

.awesome button {
  background-color: #3882f6;
}

button {
  color: #e5e7eb;
  border-radius: 8px;
  text-decoration: none;
  border: 3px;
  margin-bottom: 10px;
  padding: 7px;
  width: 100px;
  font-size: 18px;
}

.random {
  font-size: 36px;
  font-weight: extra-bold;
  color: #1f2937;
  text-align: center;
}

.box {
  border: 3px solid #3882f6;
  border-radius: 10px;
  height: 150px;
  width: 150px;
}

.info p {
  color: #1f2937;
  flex-wrap: wrap;
  max-width: 150px;
  text-align: center;
}

.info {
  height: 200px;
  width: 200px;
  justify-content: center;
  align-items: center;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-div {
  background-color: #e5e7eb;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-div p {
  margin-left: 230px;
  font-weight: bold;
}

.quote-div p,
h3 {
  font-size: 20px;
  color: #1f2937;
}

.quote {
  font-style: italic;
  max-width: 500px;
  justify-content: center;
}

footer {
  background: #1f2937;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
